# Funções merge e concat

Documentação oficial: https://pandas.pydata.org/docs/user_guide/merging.html

De forma resumida, a função concat nos auxilia em combinar - concatenar - os dataframes.
A função merge nos ajuda a fundiros dataframes


* pandas.concat(objs: Union[Iterable[FrameOrSeries], Mapping[Label, FrameOrSeries]], axis='0', join: str = "'outer'", ignore_index: bool = 'False', keys='None', levels='None', names='None', verify_integrity: bool = 'False', sort: bool = 'False', copy: bool = 'True')


* pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False,validate=None)

# Função concat

In [8]:
import pandas as pd
import numpy as np

dfa = pd.DataFrame(np.arange(15).reshape(5,3))
dfb = pd.DataFrame((np.arange(9)**2).reshape(3,3))

dfa

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

dfb

Podemos concatenar dfa(5,3) com dfb(3,3) pois os dois possuem o mesmo numero de colunas: 3.

In [7]:
pd.concat([dfa,dfb],ignore_index = True)

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
5   0   1   4
6   9  16  25
7  36  49  64

# Função merge

In [10]:
df1 = pd.DataFrame({'id':[1,2,3],'cor': ['branco', 'preto', 'verde']})
df1

   id     cor
0   1  branco
1   2   preto
2   3  verder

In [12]:
df2 = pd.DataFrame({'times':['time1','time2', 'time3','time4','time5'],
                   'id':[1,1,2,3,2]})
df2

   times  id
0  time1   1
1  time2   1
2  time3   2
3  time4   3
4  time5   2

In [13]:
pd.merge(df1,df2)

   id     cor  times
0   1  branco  time1
1   1  branco  time2
2   2   preto  time3
3   2   preto  time5
4   3  verder  time4

### Observações e lembrete !!!!

Dicionário {chave:valor}

df = pd.DataFrame({'id' : [valor] })  

Ao criarmos um dataframe a partir de um dicionário, as chaves passam a ser consideradas como os nomes das colunas do nosso dataFrame. E cada valor corresponde a uma linha do dataframe.

Usando pd.merge() fundimos as os dois dataframes, baseando-se na correlação entre os dois dicionários.

exemplo:


df1 = pd.DataFrame({'id':[1,2,3],'cor': ['branco', 'preto', 'verde']})

df2 = pd.DataFrame({'times':['time1','time2', 'time3','time4','time5'],
                   'id':[1,1,2,3,2]})

observe que:

df1 = pdDataFrame({chave11 : valor11, chave22 : valor22 }

df2 =pdDataFrane({chave21 :valor21 , chave22 : valor22})

chave 11 ==== chave 22 ==== 'id' 

valor11 está contido em valor22

__Se chave22 != chave 22__:
podemos quebrar essa regra adicionando os arquimentos lef_on='nome_chave_1', ritght_on='nome_chave2'