# Exercício de Aplicação

A partir dos dados :https://www.kaggle.com/drgilermo/nba-players-stats, pede-se:

* Qual a média de altura e de peso dos jogaroes?
* Crie uma nova coluna com a Razão peso/altura dos jogadores.
* Qual a maior/menor altura, altura ?
* Qual  a faculdade com maior numero de jogadores?
* Qual o jogador mais alto ?

In [1]:
import pandas as pd
import numpy as np

In [13]:
file = 'all_seasons.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [17]:
df.columns
print(df['player_height'].mean())
print(df['player_weight'].mean())

200.81281830417225
100.63786774840734

In [33]:
razao = df['player_weight']/df['player_height']
print(type(razao))
razao

<class 'pandas.core.series.Series'>

0        0.503686
1        0.546243
2        0.462984
3        0.495558
4        0.529125
           ...
11140    0.522672
11141    0.498631
11142    0.552746
11143    0.503072
11144    0.446449
Length: 11145, dtype: float64

# Adicionando uma série ao frame

In [36]:
df['razao'] = razao
df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,razão,razao
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97,0.503686,0.503686
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97,0.546243,0.546243
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97,0.462984,0.462984
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97,0.495558,0.495558
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97,0.529125,0.529125

In [40]:
print(df.min())

Unnamed: 0                    0
player_name          A.C. Green
team_abbreviation           ATL
age                        18.0
player_height            160.02
player_weight         60.327736
college
country                  Angola
draft_year                 1963
draft_round                   1
draft_number                  1
gp                            1
pts                         0.0
reb                         0.0
ast                         0.0
net_rating               -200.0
oreb_pct                    0.0
dreb_pct                    0.0
usg_pct                     0.0
ts_pct                      0.0
ast_pct                     0.0
season                  1996-97
razão                  0.359865
razao                  0.359865
dtype: object

In [41]:
df.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season',
       'razão', 'razao'],
      dtype='object')

In [44]:
df['college'].value_counts()

None                         1684
Kentucky                      360
Duke                          331
North Carolina                318
UCLA                          280
                             ...
Louisiana-Monroe                1
Coppin State                    1
Manhattan                       1
North Carolina-Wilmington       1
Wisconsin-Green Bay             1
Name: college, Length: 316, dtype: int64

In [46]:
df.sort_values(by='player_height')

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,razão,razao
401,401,Muggsy Bogues,CHH,32.0,160.02,63.956472,Wake Forest,USA,1987,1,...,7.2,6.0,0.017,0.074,0.149,0.554,0.366,1996-97,0.399678,0.399678
1123,1123,Muggsy Bogues,GSW,34.0,160.02,63.956472,Wake Forest,USA,1987,1,...,3.7,-2.1,0.025,0.091,0.138,0.539,0.338,1998-99,0.399678,0.399678
2020,2020,Muggsy Bogues,TOR,36.0,160.02,61.688512,Wake Forest,USA,1987,1,...,1.7,-27.4,0.000,0.120,0.078,0.000,0.294,2000-01,0.385505,0.385505
483,483,Muggsy Bogues,GSW,33.0,160.02,63.956472,Wake Forest,USA,1987,1,...,5.4,-8.4,0.020,0.074,0.129,0.492,0.344,1997-98,0.399678,0.399678
1705,1705,Muggsy Bogues,TOR,35.0,160.02,63.956472,Wake Forest,USA,1987,1,...,3.7,0.4,0.016,0.076,0.117,0.517,0.266,1999-00,0.399678,0.399678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,1053,Shawn Bradley,DAL,27.0,228.60,119.294696,Brigham Young,USA,1993,1,...,0.8,5.4,0.114,0.226,0.164,0.527,0.051,1998-99,0.521849,0.521849
647,647,Shawn Bradley,DAL,26.0,228.60,112.490816,Brigham Young,USA,1993,1,...,0.9,-2.8,0.098,0.210,0.223,0.463,0.058,1997-98,0.492086,0.492086
92,92,Gheorghe Muresan,WAS,26.0,231.14,137.438376,None,USA,1993,2,...,0.4,6.9,0.098,0.217,0.185,0.618,0.024,1996-97,0.594611,0.594611
1212,1212,Gheorghe Muresan,NJN,28.0,231.14,137.438376,None,USA,1993,2,...,0.0,-200.0,0.000,0.000,1.000,0.000,0.000,1998-99,0.594611,0.594611
1408,1408,Gheorghe Muresan,NJN,29.0,231.14,137.438376,None,USA,1993,2,...,0.3,4.8,0.103,0.163,0.202,0.492,0.056,1999-00,0.594611,0.594611